.container {
  display: inline-block;
  text-decoration: none;
  text-underline-offset: 6px;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
  &:global(.active) {
    font-weight: 600;
    text-decoration: underline;
    color: var(--color-foreground);
  }
}
