.tableWrapper {
  overflow: auto;
}
.container {
  width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid var(--color-french-gray);
  }
  /* prettier-ignore */
  th, td {
    padding: 6px;
  }
}
