# Build output
dist/
.vercel/
public/umm.*.min.js

# Generated types
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# OS-specific files
.DS_Store

# Test files
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
