@import '../../styles/variables.module.scss';

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 42px 0;

  @media (min-width: $tablet-min-width) {
    gap: 40px;
    font-size: 18px;
    line-height: 1.8;
    padding: 54px 0;
    margin: 0 auto;
  }
}
.profile {
  text-align: center;

  @media (min-width: $tablet-min-width) {
    display: flex;
    gap: 30px;
    text-align: left;
  }

  > img {
    margin: 0 auto;
    border-radius: 6px;

    @media (min-width: $tablet-min-width) {
      flex: 0 0 auto;
      margin: 0;
    }
  }
  > div {
    @media (min-width: $tablet-min-width) {
      flex: 1 1 auto;
    }
  }
}
.greeting {
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  margin-top: 16px;

  @media (min-width: $tablet-min-width) {
    margin-top: 36px;
  }
}
.socialLinkList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 30px 0 0 0;
  list-style-type: none;

  @media (min-width: $tablet-min-width) {
    justify-content: flex-start;
    gap: 40px;
    margin-top: 20px;
  }
}
.socialLink {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: initial;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: $tablet-min-width) {
    gap: 12px;
  }

  > svg {
    width: 20px;
    height: 20px;

    @media (min-width: $tablet-min-width) {
      width: 30px;
      height: 30px;
    }
  }
  > span {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  a {
    display: inline;
    text-decoration: underline;
  }
}
