---
import { getCollection } from 'astro:content';
import Link from 'src/components/link.astro';
import { sortByPublicationTime } from 'src/utils/post';

type Props = {
  slug: string;
};

const { slug } = Astro.props;
const postEntries = await getCollection('posts');
const sortedPostEntries = postEntries.sort(sortByPublicationTime);
const indexOfPost = sortedPostEntries.findIndex((entry) => entry.slug === slug);
const prev = sortedPostEntries[indexOfPost + 1];
const next = sortedPostEntries[indexOfPost - 1];
---

<nav>
  <ul>
    <li>
      {!!prev && <Link href={`/blog/${prev.slug}`}>{prev.data.title}</Link>}
    </li>
    <li>
      {!!next && <Link href={`/blog/${next.slug}`}>{next.data.title}</Link>}
    </li>
  </ul>
</nav>

<style lang="scss">
  @import '../../styles/variables.scss';

  nav {
    padding: 16px 0 42px 0;

    @media (min-width: $tablet-min-width) {
      font-size: 18px;
      padding: 24px 0 36px 0;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0;
    list-style-type: none;

    @media (min-width: $tablet-min-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    a {
      text-decoration: underline;
    }
  }
  li {
    &:empty {
      display: none;
    }
    &:first-child {
      margin-right: auto;

      > a {
        &::before {
          content: '← ';
        }
      }
    }
    &:last-child {
      margin-left: auto;

      > a {
        &::after {
          content: ' →';
        }
      }
    }

    @media (min-width: $tablet-min-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
</style>
