.base {
  border-radius: 6px;
  font-size: 0.8em;
  font-family: ui-monospace, 'Cascadia Mono', 'Segoe UI Mono',
    'Ubuntu Mono', 'Roboto Mono', Menlo, Monaco, Consolas, monospace;
}
.inlineCode {
  display: inline-block;
  line-height: initial;
  padding: 2px 6px;
  color: var(--color-dark-gray);
  background-color: var(--color-light-gray);
  word-break: break-word;
}
.codeBlock {
  display: block;
  padding: 12px 20px;
  overflow-x: auto;
  color: var(--color-light-gray);
  background-color: var(--color-black);
}
.highlighter {
  pre {
    border-radius: 6px;
  }
  code {
    min-width: auto !important; // Override inline styles
  }
}
.highlightedCodeBlock {
  overflow-x: auto;
}
