:root {
  --color-black: #1E1E1E;
  --color-dark-gray: #282828;
  --color-gray: #979797;
  --color-french-gray: #BBBBBB;
  --color-light-gray: #EAEDF3;
  --color-white: #FCFCFC;
}

body {
  font-family:
    "PingFang TC",
    "Heiti TC",
    "Microsoft JhengHei",
    "Microsoft YaHei",
    sans-serif;
  color: var(--color-dark-gray);
  background-color: var(--color-white);
}

#__next {
  isolation: isolate;
}
