:root {
  --color-black: #1E1E1E;
  --color-dark-gray: #282828;
  --color-arsenic-gray: #3D4452;
  --color-gray: #979797;
  --color-regent-gray: #8690A5;
  --color-french-gray: #BBBBBB;
  --color-light-gray: #EAEDF3;
  --color-white: #FCFCFC;
  --color-papaya-whip: #FFEECC;
  --color-foreground: var(--color-dark-gray);
  --color-background: var(--color-white);
  --color-header-foreground: var(--color-gray);
  --color-post-metadata-foreground: var(--color-gray);
  --color-quote-foreground: var(--color-dark-gray);
  --color-quote-background: var(--color-light-gray);

  --transition-ease-in-150: 150ms ease-in;
  --transition-ease-in-200: 200ms ease-in;
  --transition-ease-in-250: 250ms ease-in;
  --transition-ease-in-300: 300ms ease-in;
  --transition-ease-out-150: 150ms ease-out;
  --transition-ease-out-200: 200ms ease-out;
  --transition-ease-out-250: 250ms ease-out;
  --transition-ease-out-300: 300ms ease-out;
  --transition-ease-in-out-150: 150ms ease-in-out;
  --transition-ease-in-out-200: 200ms ease-in-out;
  --transition-ease-in-out-250: 250ms ease-in-out;
  --transition-ease-in-out-300: 300ms ease-in-out;
}

:root[data-theme="dark"] {
  --color-foreground: var(--color-white);
  --color-background: var(--color-arsenic-gray);
  --color-header-foreground: var(--color-regent-gray);
  --color-post-metadata-foreground: var(--color-regent-gray);
  --color-quote-foreground: var(--color-light-gray);
  --color-quote-background: var(--color-dark-gray);
}

body {
  font-family:
    "PingFang TC",
    "Heiti TC",
    "Microsoft JhengHei",
    "Microsoft YaHei",
    sans-serif;
  color: var(--color-foreground);
  background-color: var(--color-background);
  transition:
    color var(--transition-ease-in-out-250),
    background-color var(--transition-ease-in-out-250);
}

#__next {
  isolation: isolate;
}

:root[data-theme="dark"] .sun-icon,
:root[data-theme="dark"] [class*="_svg__sun-icon"],
:root[data-theme="dark"] [class*="_svg__cloud-icon"] {
  display: none;
}
:root[data-theme="dark"] [class*="_svg__window"] {
  fill: var(--color-black);
}

:root[data-theme="light"] .moon-icon,
:root[data-theme="light"] [class*="_svg__moon-icon"],
:root[data-theme="light"] [class*="_svg__star-icon"] {
  display: none;
}
:root[data-theme="light"] [class*="_svg__window"] {
  fill: var(--color-papaya-whip);
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
