@import '../../../styles/variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--color-french-gray);
  text-align: center;

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-resolution: 2dppx) {
    border-width: 0.5px;
  }
  @media (min-width: $tablet-min-width) {
    position: relative;
    gap: 10px;
    min-height: 128px;
    padding-bottom: 36px;

    &:has(figure) {
      padding-right: 154px;
    }
  }

  > a {
    align-self: center;
    display: inline-block;
    padding: 4px 16px;
    margin-top: 4px;
    border: 1px solid;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;

    @media (min-width: $tablet-min-width) {
      display: none;
    }
  }
}
.title {
  line-height: 1.4;
  font-weight: 600;
  text-align: left;

  @media (min-width: $tablet-min-width) {
    margin-top: 4px;
  }
}
.imageWrapper {
  position: relative;
  aspect-ratio: 16 / 9;

  @media (min-width: $tablet-min-width) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 128px;
    height: 128px;
    aspect-ratio: 1 / 1;
  }

  > img {
    object-fit: cover;
    border-radius: 6px;
    background-color: var(--color-light-gray);
  }
}
.summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: left;
}
