@import '../styles/variables.module.scss';

.imageWrapper {
  width: min(100%, calc(620px / 2));
  aspect-ratio: 620 / 390;

  @media (min-width: $tablet-min-width) {
    width: calc(620px / 1.5);
  }
  @media (min-width: $laptop-min-width) {
    width: calc(620px / 1.25);
  }
  @media (min-width: $desktop-min-width) {
    width: 620px;
  }
}
