---
import { Icon } from 'astro-icon/components';
import PostViewCounter from 'src/components/post-view-counter.astro';

type Props = {
  viewCount?: number;
};

const { viewCount } = Astro.props;
---

<div>
  <Icon name="fa6-solid:eye" />
  <span><PostViewCounter viewCount={viewCount} /></span>
</div>

<style lang="scss">
  @import '../styles/variables.scss';

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  svg {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
  }
  span {
    &:empty {
      &::before {
        content: '⋯';
      }
    }
  }
</style>
