---
import { Icon } from 'astro-icon/components';
---

<button
  disabled
  type="button"
  role="switch"
  aria-checked={undefined}
  aria-label="開啟深色模式"
  class="theme-toggle"
>
  <!-- Presence controlled by CSS -->
  <Icon name="moon" class="moon-icon" />
  <Icon name="sun" class="sun-icon" />
</button>

<style lang="scss">
  button {
    all: unset;
    display: inline-grid;
    place-items: center;
    width: 44px;
    height: 44px;
    transition: filter var(--transition-ease-in-150);
    filter: grayscale(0);
    cursor: pointer;

    &:disabled {
      filter: grayscale(1);
      cursor: not-allowed;
    }
  }
  .moon-icon {
    width: 18px;
    height: 18px;
    transform: translateX(2px);
  }
  .sun-icon {
    width: 24px;
    height: 24px;
  }
</style>

<script>
  import Cookies from 'js-cookie';
  import { defaultTheme, themeCookieOptions } from 'src/constants/theme';
  import { isDarkMode, isValidTheme } from 'src/utils/theme';

  const { documentElement } = document;
  const switchButton = document.querySelector('.theme-toggle');

  if (switchButton) {
    const theme = getTheme();
    if (isValidTheme(theme)) {
      switchButton.setAttribute('aria-checked', isDarkMode(theme).toString());
    } else {
      documentElement.setAttribute('data-theme', defaultTheme);
      switchButton.setAttribute('aria-checked', 'false');
    }
    switchButton.addEventListener('click', toggleTheme);
    switchButton.removeAttribute('disabled');
  }

  function toggleTheme() {
    const theme = getTheme();
    if (!isValidTheme(theme)) {
      return;
    }
    const themeColor = {
      light: window
        .getComputedStyle(documentElement)
        .getPropertyValue('--color-white'),
      dark: window
        .getComputedStyle(documentElement)
        .getPropertyValue('--color-arsenic-gray'),
    };
    const newTheme = isDarkMode(theme) ? 'light' : 'dark';
    document
      .querySelector('meta[name="theme-color"]')
      ?.setAttribute('content', themeColor[newTheme]);
    documentElement.setAttribute('data-theme', newTheme);
    switchButton?.setAttribute('aria-checked', isDarkMode(newTheme).toString());
    Cookies.set('theme', newTheme, {
      ...themeCookieOptions,
      expires: 180, // Days
    });
  }
  function getTheme() {
    return documentElement.getAttribute('data-theme');
  }
</script>
