@import '../../../styles/variables.module.scss';

.container {
  display: flex;
  gap: 12px;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--color-post-metadata-foreground);

  @media (min-width: $tablet-min-width) {
    order: -1;
    gap: 16px;
    font-size: 16px;
    line-height: 1;
  }
}
.segment {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 12px;
  border-right: 1px solid;

  &:last-child {
    flex: 0 1 auto;
    padding-right: 0;
    border-right: none;

    > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (min-resolution: 2dppx) {
    border-width: 0.5px;
  }
  @media (min-width: $tablet-min-width) {
    padding-right: 16px;
  }

  > :global(.fa-calendar) {
    width: 13px;
    height: 13px;
    transform: translateY(-0.5px);

    @media (min-width: $tablet-min-width) {
      transform: translateY(-1px);
    }
  }
  > :global(.fa-clock) {
    width: 14px;
    height: 14px;
    transform: translateY(-0.5px);
  }
  > :global(.fa-tag) {
    width: 15px;
    height: 15px;
    transform: translateY(0.5px);

    @media (min-width: $tablet-min-width) {
      width: 16px;
      height: 16px;
      transform: none;
    }
  }
}
