@import '../../styles/variables.module.scss';

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 42px 0;

  @media (min-width: $tablet-min-width) {
    padding: 54px 0;
    margin: 0 auto;
  }
}
