---
import 'src/styles/reset.scss';
import 'src/styles/globals.scss';
import '@fontsource-variable/inter';
import { execSync } from 'node:child_process';
import Analytics from 'src/components/analytics.astro';
import ThemeLoader from 'src/components/theme-loader.astro';
import Header from 'src/components/header.astro';

function getCommitHash() {
  return (
    process.env.VERCEL_GIT_COMMIT_SHA?.slice(0, 7) ??
    execSync('git log -1 --pretty=format:%h').toString().trim()
  );
}

const version = getCommitHash();
---

<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="" />
    <slot name="head" />
    <link rel="icon" href={`/favicon.ico?v=${version}`} sizes="32x32" />
    <link rel="icon" href={`/icon.svg?v=${version}`} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={`/apple-touch-icon.png?v=${version}`} />
    <link rel="manifest" href={`/manifest.webmanifest?v=${version}`} />
    <ThemeLoader />
    <Analytics />
  </head>
  <body>
    <div id="root">
      <Header />
      <slot />
    </div>
  </body>
</html>

<style lang="scss">
  @import '../styles/variables.scss';

  div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 18px 20px;

    @supports (min-height: 100dvh) {
      min-height: 100dvh;
    }
    @media (min-width: $tablet-min-width) {
      padding: 60px;
      max-width: 754px;
      margin: 0 auto;
    }
  }
</style>

<script>
  import { injectSpeedInsights } from '@vercel/speed-insights';

  const isProduction = import.meta.env.PROD;
  const isVercelDomain = window.location.hostname.includes('.vercel.app');

  if (isProduction && !isVercelDomain) {
    injectSpeedInsights({
      route: window.location.pathname,
    });
  }
</script>
